{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="page-container">
    <h2>{% trans "My Rentals" %}</h2>

    <h3>{% trans "Rented by Me" %}</h3>
    {% if my_rented %}
        <ul>
            {% for rental in my_rented %}
                <li>{{ rental.car }} | {{ rental.start_date }} {% trans "to" %} {{ rental.end_date }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "You haven't rented any cars yet." %}</p>
    {% endif %}

    <h3>{% trans "Cars I Rent Out" %}</h3>
    {% if my_listed %}
        <ul>
            {% for rental in my_listed %}
                <li>{{ rental.car }} | {{ rental.start_date }} {% trans "to" %} {{ rental.end_date }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "Your cars haven't been rented yet." %}</p>
    {% endif %}
</div>
{% endblock %}
