{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="page-container">
    <h2>{% trans "Delete Rental" %}</h2>
    
    <p>
        {% blocktrans with car=rental.car start=rental.start_date end=rental.end_date %}
            Are you sure you want to delete the rental of <strong>{{ car }}</strong> from <strong>{{ start }}</strong> to <strong>{{ end }}</strong>?
        {% endblocktrans %}
    </p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="button delete-button">{% trans "Yes, Delete" %}</button>
        <a href="{% url 'rentals:my_rental' %}" class="button">{% trans "Cancel" %}</a>
    </form>
</div>
{% endblock %}
