<!-- base.html -->
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE|default:'en' }}">
<head>
    {% load static %}
    {% load i18n %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Car Rental{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="theme-transition {{ request.user.profile.theme|default:'light' }}">
    <header>
        <nav class="navbar">
            <a href="{% url 'core:index' %}" class="logo">
                <img src="{% static 'image/logo.png' %}" height="50" alt="VROOOM">
            </a>
            <div class="nav-links">
                <a href="{% url 'cars:car_list' %}">{% trans "Cars" %}</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'users:profile' %}">{% trans "Profile" %}</a>
                    <a href="{% url 'users:logout' %}">{% trans "Logout" %}</a>
                {% else %}
                    <a href="{% url 'users:register' %}">{% trans "Register" %}</a>
                    <a href="{% url 'users:login' %}">{% trans "Login" %}</a>
                {% endif %}
            </div>
            
            {% if user.is_authenticated %}
            <button id="theme-toggle" class="toggle-theme" data-theme="{{ request.user.profile.theme }}">
                <li class="nav-item">
                    <span class="nav-link theme-toggle">
                        <i class="bi bi-moon-stars-fill"></i>
                    </span>
                </li>
                {% if request.user.profile.theme == 'dark' %}☀️{% else %}🌙{% endif %}
            </button>            
            {% endif %}
        </nav>
    </header>

    <main class="main-content">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 VROOOM. All rights reserved.</p>
    </footer>

    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>
